
*{
  margin: 0px;
  padding: 0px;
}

main {
  background-color: aqua;
  margin: auto;
  max-width: 900px;
  min-width: 400px;
  padding: 30px;
}

aside {
  background-color: aquamarine;
  columns: 2;
  border-radius: 10px;
  list-style-position: inside;
  

}


